@import url(fonts.css);
body {
    font-family: "FreeSans", Arial;
    color: rgb(51, 51, 51);
}
p {
    font-family: "FreeSans", Arial;
    color: rgb(51, 51, 51);
}
.pure-g > * {
    font-family: "FreeSans", Arial !important;
    color: rgb(51, 51, 51);
}
#titlebar {
    width: 100%;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 1px;
}
.titlebar-item {
    display: inline-block;
    padding: 19px;
    font-family: "Source Sans Pro", Arial;
    font-size: 22px;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    cursor: pointer;
}
.titlebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#titlebar-underline {
    transition: width 0.4s, left 0.4s;
    -webkit-transition: width 0.4s, left 0.4s;
    background-color: rgb(187, 62, 50);
    height: 8px;
    position: absolute;
    bottom: 0px;
    z-index: 1000;
}
.musing:before {
    content: "Musing";
    display: inline-block;
    font-family: "Advent Pro";
    position: absolute;
    left: 0px;
    top: 3px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px;
    border-radius: 2px;
}
.musing {
    position: relative;
}
.page-title-hero {
    height: 300px;
    color: white;
    text-align: center;
    font-size: 64px;
    font-family: "Open Sans Light", sans-serif;
    padding-top: 150px;
}
h1, h2, h3 {
    font-family: "Open Sans Light";
    font-weight: lighter;
}
.outline {

}
.outline:before {
    font-family: "Advent Pro";
    content: "Contents";
    display: block;
    font-size: 16px;
    padding-left: 5px;
    margin-right: 30px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(105, 105, 105);
    margin-bottom: 6px;
}
.outline-elm {
    color: rgb(105, 105, 105);
    cursor: pointer;
    transition: color 0.4s;
    -webkit-transition: color 0.1s;
}
.outline-elm:hover {
    color: rgb(51, 51, 51);
}
code {
    white-space: pre;
    display: block;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    border: 1px solid rgb(232, 232, 232);
    margin-left: 20px;
    margin-right: 20px;
    padding: 3px;
}